.slider_image img {
    width: 300px;
    height: 200px;
    display: none;
}

.slider_image img:nth-child(2) {
    display: block;
}

.slider_image {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: 200px;
    width: 400px;
    margin: 0;
}

.slider_image button {
    width: 50px;
    height: 200px;
    font-family: serif;
    background-color: #EEE8AA;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
}

.slider_image button:hover {
    background-color: #BDB76B;
    opacity: 0.8;
}