div {
    width: 400px;
    height: 200px;
    position: relative;
}

.block {
    margin: 100px;
    background-color: #60B88D;
    position: relative;
}

#first {
    box-shadow: 10px 10px 0px #90CDAF,
        20px 20px 0px #BFE3D1;

}

#second::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #90CDAF;
    width: 400px;
    height: 200px;
    z-index: -1;
}

#second::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #BFE3D1;
    width: 400px;
    height: 200px;
    z-index: -2;
}

.divOne {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #90CDAF;
    z-index: -1;
}

.divTwo {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #BFE3D1;
    z-index: -2;
}