button {
    width: 180px;
    height: 50px;
    background: linear-gradient(to top, #c2c1c1, #eeeeee);
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0.5px 0.5px 0.5px 0px gray,
        0px 0.5px 0.5px 0.5px gray;
    word-spacing: 5px;
    color: rgb(121, 121, 121);
    margin: 5px;
    text-shadow:
        0px 0.25px 0 rgb(255, 255, 255);
}

div {
    border-radius: 15px;
    align-items: flex-end;
    width: 190px;
    height: 60px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(192, 192, 192);
    border: 2px solid white;
    outline: 2px solid gray;
}